<div class="ngdialog-message">
  <div class="">
    <h4>New task</h4>
  </div>
  <div class="">
    <form ng-submit="doAddNewTask()">
      <div class="form-group">
        <label class="sr-only" for="taskdesciption">Description</label>
        <input type="text" class="form-control lg" id="taskdesciption" placeholder="Add a task..." ng-model='task.desctiption'>
      </div>
      <button type="submit" class="btn btn-default" ng-click=closeThisDialog( "Cancel")>Cancel</button>
      <button type="submit" class="btn btn-info">Save</button>
    </form>
  </div>
</div>
