<div class="content">
  <div class="topbar">
    <div class="row">
      <div class="col-xs-1">
        <h1>Database</h1>
      </div>
      <div class="col-xs-2 col-xs-offset-7">
        <a href="#">
          <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-ellipsis-h fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>

  <div class="main-content">
  </div>
</div>
