<div class="content">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-8">
          <a href="#">
            <i class="fa fa-user-plus fa-lg" title="Invite your friends" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-bell fa-lg" title="Notifications" aria-hidden="true"></i>
          </a>
          <a href="#">
            <i class="fa fa-ellipsis-h fa-lg" title="More" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>

  </div>

  <div class="main-content">
    <div class="tasks">
      <div class="container">
        <div class="row row-content">
          <div class="col-xs-4">
            <div class="add-task">
              <a class="btn btn-lg btn-outline"><i class="fa fa-plus fa-lg"></i> Add a task</a>
            </div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-xs-10">
            <ul class="task-list">
              <li>
                Code+demo final presentation
              </li>
              <li>
                Type up design guide
              </li>
              <li>
                Love
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
