<div class="ngdialog-message">
        <div class="">
            <h4>Create new group </h4>
        </div>
        <div class="">
            <form ng-submit="doLogin()">
                <div class="form-group">
                    <label class="sr-only" for="groupname">Group name</label>
                    <input type="text" class="form-control" id="groupname" placeholder="Group name">
                </div>
                <button type="submit" class="btn btn-default" ng-click=closeThisDialog("Cancel")>Cancel</button>
                <button type="submit" class="btn btn-info" >Save</button>
            </form>
        </div>
        <div>

        </div>
    </div>
