<div id="sidebar">
  <div class="user-toolbar">
    <div class="user">
      <span class="user-avatar">
                  <img ng-src="images/alphabet/{{avatar}}">
                </span>
      <div class="btn-group">
        <span class="user-name">
                    {{user.name}}
                  </span>
        <span class="user-arrow" data-toggle="dropdown">
                    <i class="fa fa-caret-down"></i>
                  </span>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
          <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
          <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li ng-repeat='item in sidebarItem'>
      <a href="" ng-click="select(item.id)"><i class="fa fa-calendar-check-o fa-lg"></i>{{item.name}}<br></a>
    </li>
  </ul>
  <div class="sidebarAction">
    <div class="sidebarAction-addList">
      <a ng-click="openCreateGroup()"><i class="fa fa-plus-square-o fa-lg"></i> Create Group </a>
    </div>
  </div>
</div>
